<html>
  <head>
    <title><%= formTitle %></title>
  </head>
  <body>
    <form method="POST" astion="/new">
      <label for="name">enter your name:</label>
      <input type="text" required id="name" name="name" />
        <br>
      <label for="message">enter your message</label>
      <input id="message" name="message" required></input>
        <br>
      <button>submit</button>
    </form>
  </body>
</html>
