<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>separate message</title>
  </head>
  <body>
    <div class="message-div">
      <h2 class="user-name"><b>@<%= message.user %></b> sent:</h2>

      <h2 class="the-message"><%= message.text %></h2>

      <p>at: <%= message.added %></p>
      <button onclick="location.href='/'">back</button>
    </div>
  </body>
</html>
