<html>
  <head>
    <title>separate message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="message-div">
      <h2 class="user-name"><b>@<%= message.user %></b> sent:</h2>

      <h2 class="the-message"><%= message.text %></h2>

      <p>at: <%= message.added %></p>
    </div>

    <button class="redirect-button" onclick="location.href='/'">
      back to homepage
    </button>
  </body>
</html>
